<h1>Users</h1>


<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>
        <a href="" [routerLink]="['/UserCreate']">
          <i class="fa fa-plus"></i>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!users.length">
      <td colspan="5">Loading...</td>
    </tr>
    <tr  *ngFor="#user of users">
      <td>{{user.id}}</td>
      <td>{{user.email}}</td>
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>
        <a href="" [routerLink]="['/UserUpdate', {id: user.id}]">
          <i class="fa fa-pencil"></i>
        </a>
        <a href="javascript:void(0)" (click)="deleteModel(user)">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
